extends layout

block content
    .container
        div.panel.panel-warning
          div.panel-heading
            h3 Login
          div.panel-body
            p You need to be logged in, in order to edit, create or add data.
            hr
            // Races EDIT FORM
            form
              .form-group
                label Email
                input#loginEmail.form-control(type='text', name='email')
                label Password
                input#loginPassword.form-control(type='password', name='password')
                button#loginButton.btn.btn-primary.btn-lg(type='submit') Login

            // p Login or Register with:
            // a.btn.btn-default(href='/login')
            //   span.fa.fa-user
            //   |  Local Login

            // a.btn.btn-default(href='/signup')
            //   span.fa.fa-user
            //   |  Local Signup

            // a.btn.btn-primary(href='/auth/twitter')
            //   span.fa.fa-twitter
            //   |  Twitter

            // a.btn.btn-danger(href='/auth/google')
            //   span.fa.fa-google-plus  Google

            // div
            //   br
            //   br
            //   a(href='/pdf/docs.pdf', target='_blank') download API docs
        div.col-md-4
          h1
            span
            |  Add Race

          if (message)
            .alert.alert-danger #{message}
            
          // Races CREATE FORM
          form
            .form-group
              label Name
              input#newRaceName.form-control(type='text', name='name')
            button#addRaceButton.btn.btn-warning.btn-lg(type='submit') Create
          hr
          h1
            span
            |  Edit Race

          div#editRaceList.list-group
              each race, i in results.races
                  a.list-group-item(href='#')= race.name
                  
          // Races EDIT FORM
          form
            .form-group
              label Name
              input#editRaceName.form-control(type='text', name='name')
              .form-group
                select#editRaceVenue.form-control
                  option= null
                  each venue, v in results.venues
                    option= venue.name
            button#editRaceButton.btn.btn-warning.btn-lg(type='submit') Edit
            button#deleteRaceButton.btn.btn-danger.btn-lg(type='submit') Delete
            hr
        div.col-md-4
          h1
            span
            |  Add Venue

          if (message)
            .alert.alert-danger #{message}
            
          // Venues CREATE FORM
          form
            .form-group
              label Name
              input#newVenueName.form-control(type='text', name='newVenueName')
            .form-group
              label Category
              input#newVenueCategory.form-control(type='text', name='newVenueCategory')
            button#addVenueButton.btn.btn-warning.btn-lg(type='submit') Create
          hr
          h1
            span
            |  Edit Venue

          div#editVenueList.list-group
              each venue, i in results.venues
                  a.list-group-item(href='#')= venue.name
                  
          // Venues EDIT FORM
          form
            .form-group
              label Name
              input#editVenueName.form-control(type='text', name='name')
              input#editVenueCategory.form-control(type='text', name='category')
            button#editVenueButton.btn.btn-warning.btn-lg(type='submit') Edit
            button#deleteVenueButton.btn.btn-danger.btn-lg(type='submit') Delete
          hr