extends layout

block content
    .container
        div.col-md-4
          h1
            span
            |  Add Race

          if (message)
            .alert.alert-danger #{message}
            
          // Races CREATE FORM
          form
            .form-group
              label Name
              input#newRaceName.form-control(type='text', name='name')
            button#addRaceButton.btn.btn-warning.btn-lg(type='submit') Create
          hr
          h1
            span
            |  Edit Race

          label Races
          div#editRaceList.list-group
              each race, i in results.races
                  a.list-group-item(href='#')= race.name
                  
          label Joined Participants
          div#raceParticipantList.list-group
                  
          // Races EDIT FORM
          form
            .form-group
              label Name
              input#editRaceName.form-control(type='text', name='name')
              button#editRaceButton.btn.btn-warning.btn-lg(type='submit') Edit
              button#deleteRaceButton.btn.btn-danger.btn-lg(type='submit') Delete
              button#joinRaceButton.btn.btn-primary.btn-lg(tpe='submit') Join
              button#leaveRaceButton.btn.btn-danger.btn-lg(type='submit') Leave
              hr
              Label assigned venues
              div#editRaceVenueList.list-group
                each race, i in results.races
                  a.list-group-item(href='#')= race.name
              .form-group
                select#editRaceVenue.form-control
                  option= null
                  each venue, v in results.venues
                    option= venue.name
            button#editRaceAddVenueButton.btn.btn-warning.btn-lg(type='submit') Add this Venue
            button#visitVenueButton.btn.btn-primary.btn-lg(type='submit') visit this venue
            hr
        div.col-md-4
          h1
            span
            |  My status
          label#isWinner

          h1
            span
            |  Visited venues

          ul#visitedVenuesList.list-group
              each race, i in results.races
                  li.list-group-item(href='#')= race.name
        div.col-md-4
          h1
            span
            |  Add Venue

          if (message)
            .alert.alert-danger #{message}
            
          // Venues CREATE FORM
          form
            .form-group
              label Name
              input#newVenueName.form-control(type='text', name='newVenueName')
            .form-group
              label Category
              input#newVenueCategory.form-control(type='text', name='newVenueCategory')
            button#addVenueButton.btn.btn-warning.btn-lg(type='submit') Create
          hr
          h1
            span
            |  Edit Venue

          input#venueFilter.form-control(type='text', name='venueFilter')
          button#searchVenueButton.btn.btn-warning.btn-lg(type='submit') Search
          div#editVenueList.list-group
              each venue, i in results.venues
                  a.list-group-item(href='#')= venue.name
          button#leftEditVenueVenueButton.btn.btn-secondary.btn-lg(type='submit') previous page
          button#rightEditVenueVenueButton.btn.btn-secondary.btn-lg(type='submit') next page
                  
          // Venues EDIT FORM
          form
            .form-group
              label Name
              input#editVenueName.form-control(type='text', name='name')
              input#editVenueCategory.form-control(type='text', name='category')
            button#editVenueButton.btn.btn-warning.btn-lg(type='submit') Edit
            button#deleteVenueButton.btn.btn-danger.btn-lg(type='submit') Delete
          hr