doctype html
html
  head
    title Eet.nu
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    style.
      body        { word-wrap:break-word; }
  body
    .container
      .page-header.text-center
        h1
          span.fa.fa-anchor
          |  Profile
        a.btn.btn-default.btn-sm(href='/logout') Logout
      .row
        // LOCAL INFORMATION
        .col-sm-6
          .well
            h3
              span.fa.fa-user
              |  Local
            p
              strong id
              | : #{user._id}
              br
              strong email
              | : #{user.local.email}
              br
              strong password
              | : #{user.local.password}
        // TWITTER INFORMATION
        .col-sm-6
          .well
            h3.text-primary
              span.fa.fa-twitter
              |  Twitter
            p
              strong id
              | : #{user.twitter.id}
              br
              strong token
              | : #{user.twitter.token}
              br
              strong username
              | : #{user.twitter.username}
              br
              strong displayName
              | : #{user.twitter.displayName}
        // GOOGLE INFORMATION
        .col-sm-6
          .well
            h3.text-danger
              span.fa.fa-google-plus
              |  Google
            p
              strong id
              | : #{user.google.id}
              br
              strong token
              | : #{user.google.token}
              br
              strong email
              | : #{user.google.email}
              br
              strong name
              | : #{user.google.name}