extends layout

block content
    a(href='/venues').
        go to venues
    h1.
        #{response.name}
    table.table.table-bordered
        tr
            th= "Name"
            td= response.name
        tr
            th= "Category"
            td= response.category
