extends layout

block content
    a(href='/races').
        go to races
    h1.
        #{response.name}
    table.table.table-bordered
        tr
            th= "Name"
            td= response.name
        tr
            th= "Status"
            td= response.status
        tr
            th= "Venues"
            td